@use '../mixins' as *;
/*
フッター

全ページで使用されるフッターのプロジェクトコンポーネントです。

ex [トップページ　フッター](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/11.8.footer.pug
+ec-footerRole

Styleguide 11.3
*/
.ec-footer-role {
  margin: 30px auto 0;
  padding: 30px 5.333%;
  background: #f2f2f2;

  @include media_desktop() {
    padding: 40px 0 0;
    margin-top: 100px;
  }

  &__inner {
    padding: 0 5.333%;

    @include media_desktop {
      padding: 0 40px;
    }
  }

  &__top {
    display: flex;
    flex-wrap: wrap;

    @include media_desktop {
      flex-wrap: nowrap;
    }
  }
}

/*
フッターナビ

フッタープロジェクトで使用するナビゲーション用のコンポーネントです。

Markup:
include /assets/tmpl/elements/11.8.footer.pug
+ec-footerNav

sg-wrapper:
<div class="ec-footerRole">
  <div class="ec-footerRole__inner">
    <sg-wrapper-content/>
  </div>
</div>

Styleguide 11.3.1
*/
.ec-footer-navi{
  flex: 0 0 50%;
  margin-bottom: 5px;
  padding: 0;
  color: #444;
  list-style: none;

  @include media_desktop {
    flex: 0 0 13%;
  }

  a {
    font-size: 16px;
    color: $bl;
    text-decoration: none;
  }

  &:nth-of-type(6) {
    flex: 0 0 50%;

    @include media_desktop {
      flex: 0 0 16%;
    }

    a {
      font-size: 15px;
    }
  }

  &__link {
    line-height: 2;
  }
}

.ec-footer-navi-child {
  list-style: none;
  padding: 0;

  &__link {
    position: relative;
    padding-left: 1em;
    line-height: 2;

    &_wide {
      line-height: 3;
    }

    &::before {
      content: '-';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
    }
  }
}

.ec-footer-sns-navi {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  margin-top: 25px;
  list-style: none;

  @include media_desktop {
    flex: 0 0 19%;
    display: block;
    margin: 0;
  }

  a {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $bl;
    text-decoration: none;

    span {
      display: none;

      @include media_desktop {
        display: inline-block;
      }
    }
  }

  &__link {

    & + .ec-footer-sns-navi__link {
      margin-left: 12px;

      @include media_desktop {
        margin-top: 20px;
      }
    }

    img {
      margin-right: 15px;
    }
  }
}

/*
フッタータイトル

フッタープロジェクトで使用するタイトル用のコンポーネントです。

Markup:
include /assets/tmpl/elements/11.8.footer.pug
+ec-footerTitle

sg-wrapper:
<div class="ec-footerRole">
  <div class="ec-footerRole__inner">
    <sg-wrapper-content/>
  </div>
</div>

Styleguide 11.3.2
*/
.ec-footer-title{
  padding: 40px 0 20px;
  text-align: center;
  color: #444;

  @include media_desktop {
    padding: 50px 0 20px;
  }

  &__copyright{
    font-size: 10px;

    @include media_desktop {
      font-size: 14px;
    }
  }
}
