@use '../mixins' as *;
/*
フッター

全ページで使用されるフッターのプロジェクトコンポーネントです。

ex [トップページ　フッター](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/11.8.footer.pug
+ec-footerRole

Styleguide 11.3
*/
.ec-footer-role {
  margin: 30px auto 0;
  padding: 30px 5.333%;
  background: #f2f2f2;

  @include media_desktop() {
    padding: 40px 0 0;
    margin-top: 100px;
  }

  &__inner {
    margin: 0 auto;
    padding: 0 5.333%;

    @include media_desktop {
      max-width: 1110px;
      padding: 0 15px;
    }
  }

  &__top {
    display: flex;
    flex-wrap: wrap;

    @include media_desktop {
      flex-wrap: nowrap;
    }
  }
}

/*
フッターナビ

フッタープロジェクトで使用するナビゲーション用のコンポーネントです。

Markup:
include /assets/tmpl/elements/11.8.footer.pug
+ec-footerNav

sg-wrapper:
<div class="ec-footerRole">
  <div class="ec-footerRole__inner">
    <sg-wrapper-content/>
  </div>
</div>

Styleguide 11.3.1
*/
.ec-footer-navi{
  flex: 0 0 100%;
  margin-bottom: 12px;
  padding: 0;
  color: #444;
  list-style: none;

  @include media_desktop {
    flex: 0 0 17%;
    margin-bottom: 5px;
  }

  a {
    font-size: 16px;
    font-weight: 800;
    color: $bl;
    text-decoration: none;
  }

  &:nth-of-type(5) {

    @include media_desktop {
      flex: 0 0 12%;
    }
  }

  &__link {
    line-height: 2;
  }
}

.ec-footer-navi-child {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  @include media_desktop {
    display: block;
  }

  &__link {
    flex: 0 0 50%;
    position: relative;
    padding-left: 1em;
    line-height: 2;

    @include media_desktop {
      flex: auto;
    }

    a {
      font-size: 90%;
      font-weight: 500;

      @include media_desktop {
        font-size: 100%;
      }
    }

    &_wide {
      line-height: 3;
    }

    &::before {
      content: '-';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
    }
  }
}

.ec-footer-role__bottom {
  margin-top: 40px;
  text-align: center;

  @include media_desktop {
    margin-top: 60px;
  }

  .ec-footer-bottom-navi {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    &__link {
      margin: 0 8px 6px;

      @include media_desktop {
        margin: 0 12px;
      }
    }

    a {
      font-size: 12px;
      font-weight: 400;
      line-height: 1;
      color: #aaa;

      @include media_desktop {
        font-size: 13px;
      }
    }
  }
}

.ec-footer-sns-navi {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25px;
  list-style: none;

  @include media_desktop {
    flex: 0 0 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  &__link {
    margin: 0 12px;

    @include media_desktop {
      margin: 0 6px 12px;
    }
  }

  a {
    display: block;
  }
}

/*
フッタータイトル

フッタープロジェクトで使用するタイトル用のコンポーネントです。

Markup:
include /assets/tmpl/elements/11.8.footer.pug
+ec-footerTitle

sg-wrapper:
<div class="ec-footerRole">
  <div class="ec-footerRole__inner">
    <sg-wrapper-content/>
  </div>
</div>

Styleguide 11.3.2
*/
.ec-footer-title{
  padding: 16px 0 0;
  text-align: center;
  color: #444;

  @include media_desktop {
    padding: 12px 0 20px;
  }

  &__copyright{
    font-size: 12px;

    @include media_desktop {
      font-size: 14px;
    }
  }
}
