@use '../mixins' as *;
/*
商品一覧

商品一覧 に関する Project コンポーネントを定義します。

SP版２列、PC版４列の特殊グリッドを構成します。

Markup:
include /assets/tmpl/elements/13.2.shelf.pug
+b.ec-shelfRole
  +ec-shelfGrid

Styleguide 13.2

*/
// .ec-shelfRole{
//   @include container;
// }

/*
商品一覧グリッド

商品一覧 で使用するグリッドコンポーネントです。

SP版２列、PC版４列の特殊グリッドを構成します。

Markup:
include /assets/tmpl/elements/13.2.shelf.pug
+b.ec-shelfRole
  +ec-shelfGrid

Styleguide 13.2.1

*/

.ec-products-top-area {

  &:not(:first-of-type) {
    margin-top: 15px;

    @include media_desktop {
      margin-top: 30px;
    }
  }

  .ec-product-category-title {

    & + .ec-shelfRole {
      margin-top: 15px;

      @include media_desktop {
        margin-top: 30px;
      }
    }

    &__title {
      @include font(24px,800,1,.12em);

      span {
        display: block;
        margin-top: 10px;
        @include font(15px,800,1,.12em);
      }
    }
  }
}

.ec-shelfGrid{
  @include reset_link;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 10px 40px;
    padding: 0 0 96px;
    width: calc(50% - 20px);

    @include media_desktop(){
      padding: 0 0 90px;
      width: calc(25% - 20px);
    }

    a {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &-image {
      position: relative;
      padding-top: 100%;
      margin-bottom: 10px;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &--pb0 {
      padding: 0;

      @include media_desktop(){
        padding: 0;
      }
    }
  }

  &__title {
    font-weight: 800;
  }

  &__description {
    margin-bottom: 12px;
  }

  .price02-default {
    margin-top: auto;
    @include font(17px,800,1,.05em);
    text-align: right;

    span {
      font-size: 85%;
    }
  }

  &__form {
    position: absolute;
    bottom: 38px;

    .ec-productRole__actions {
      padding: 0;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    button,
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 38px;
      border-radius: 5px;
      border: 1px solid #9f6e72;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      background-color: #9f6e72;
      touch-action: manipulation;
      cursor: pointer;
      white-space: nowrap;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: .3s;

      &:hover {
        color: #9f6e72;
        background-color: #fff;
      }
    }
  }
}

.ec-shelfGrid__item {

  &-name {
    @include font(15px,700,1.4,.05em);
  }

  .price02-default {
    margin-bottom: 10px;
  }

  .ks_select_quantity {
    margin-top: auto;
  }
}

/*
13.2.2 商品一覧グリッド（中央寄せ）

商品一覧 で使用するグリッドコンポーネントです。

SP版２列、PC版４列の特殊グリッドを構成します。
商品のあまりはセンタリングされ、中央に表示されます。

Markup:
include /assets/tmpl/elements/13.2.shelf.pug
+b.ec-shelfRole
  +ec-shelfGridCenter

Styleguide 13.2.2

*/
.ec-shelfGridCenter{
  @include reset_link;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  justify-content: center;

  @include media_desktop {
    margin-left: -16px;
    margin-right: -16px;
  }
  & &__item{
    margin-bottom: 36px;
    width: 50%;

    &-image {
      position: relative;
      padding-top: 100%;
      margin-bottom: 10px;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    @include media_desktop(){
      padding: 0 16px;
      width: 25%;
    }

    .ec-productRole__btn {
      margin-top: auto;
      padding-top: 1em;
    }
  }
  & &__item:nth-child(odd){
    padding-right: 8px;
    @include media_desktop(){
      padding: 0 16px;
    }
  }
  & &__item:nth-child(even){
    padding-left: 8px;
    @include media_desktop(){
      padding: 0 16px;
    }
  }
  & &__title {
    margin-bottom: 7px;
  }
  & &__plice {
    font-weight: bold;
  }
}


/*
商品一覧カテゴリーリスト
*/

.category-tab {
  margin-top: 30px;

  @include media_desktop(){
    margin-top: 50px;
  }

  &__title {
    @include font(24px,800,1,.12em);
    color: $bl;

    span {
      display: block;
      margin-top: 10px;
      @include font(15px,800,1,.12em);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    @include media_desktop(){
      margin-top: 30px;
    }
  }

  &__item {
    margin: 0 15px 10px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 120px;
      padding: .6em .12em;
      border: 1px solid #f2f2f2;
      @include font(18,800,1.333,.05em);
      color: $bl;

      &.category-1 {
        background-color: #ef857d;
        color: #fff;
      }

      &.category-2 {
        background-color: #f8b62d;
        color: #fff;
      }

      &.category-5 {
        background-color: #6a3906;
        color: #fff;
      }

      &:hover {
        background-color: #aaa;
        color: #fff;
      }
    }
  }
}


/*
商品一覧 トップ表示
*/

.online-store-information {
  max-width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  @include media_desktop(){
    max-width: 54em;
    margin-top: 50px;
  }

  &__text {
    @include font(16px,500,1.8,.1em);
    text-align: left;

    @include media_desktop(){
      @include font(18px,500,1.8,.1em);
      text-align: center;
    }

    & + .online-store-information__text {
      margin-top: 1em;
    }
  }
}
