@use '../mixins' as *;

/*
商品詳細

商品詳細ページに関する Project コンポーネントを定義します。

ex [商品詳細ページ](http://demo3.ec-cube.net/products/detail/18)


Markup:
include /assets/tmpl/elements/14.1.product.pug
+ec-productSimpleRole

Styleguide 14.1
*/
.ec-productRole {

  &__img {
    margin-right: 0;
    margin-bottom: 20px;
    @include media_desktop {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }

  &__profile {
    margin-left: 0;
    @include media_desktop {
      margin-left: 16px;
    }
  }

  &__title {
    .ec-headingTitle {
      font-size: 20px;
      @include media_desktop {
        font-size: 28px;
      }
    }
  }

  &__tags {
    margin: 16px 0;
    padding: 0;
    padding-bottom: 16px;
    border-bottom: 1px dotted #ccc;
  }

  &__tag {
    display: inline-block;
    padding: 2px 5px;
    list-style: none;
    font-size: 80%;
    color: #525263;
    border: solid 1px #D7DADD;
    border-radius: 3px;
    background-color: #F5F7F8;
  }

  &__priceRegular {
    padding-top: 14px
  }

  &__priceRegularTax {
    margin-left: 5px;
    font-size: 10px;
  }

  &__price {
    color: #DE5D50;
    font-size: 28px;
    padding: 0;
    border-bottom: 0;

    @include media_desktop {
      padding: 14px 0;
      border-bottom: 1px dotted #ccc;
    }
  }

  &__code {
    padding: 14px 0;
    border-bottom: 1px dotted #ccc;
  }

  &__category {
    padding: 14px 0;
    border-bottom: 1px dotted #ccc;

    a {
      color: #33A8D0;
    }

    .ec-productRole-category-list {
      list-style: none;
      padding: 0 1em;
      margin: 0;

      &__item {

        & + .ec-productRole-category-list__item {
          margin-left: 10px;
        }

        a {
          min-width: 80px;
          padding: 5px 12px;
          font-size: 15px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0;
          text-align: center;
          color: #fff;

          &.category-1 {
            background-color: #ef857d;
          }

          &.category-2 {
            background-color: #f8b62d;
          }

          &.category-5 {
            background-color: #6a3906;
          }
        }
      }
    }
  }

  &__actions {
    padding: 14px 0;

    .ec-select {

      select {
        height: 40px;
        max-width: 100%;
        min-width: 100%;

        @include media_desktop {
          min-width: 350px;
          max-width: 350px;
        }
      }
    }
  }

  &__btn {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    @include media_desktop {
      width: 60%;
      margin: 16px auto 0;
      min-width: 350px;
    }

    &--add {

      button {

        &:not(.disabled) {
          -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
          transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
          -webkit-animation: gelatine 3s infinite;
          animation: gelatine 3s infinite;
        }
      }
    }

    &--favorite {
      width: 80%;

      @include media_desktop {
        width: 46%;
      }
    }
  }

  &__description {
    margin: 14px 0;
  }

}

/*
商品詳細レイアウト（こちらもおすすめ部分も）
*/

.ec-productRole {

  .ec-grid2 {
    flex-wrap: wrap;

    &__column {
      flex: 0 0 100%;
      margin-top: 30px;

      @include media_desktop {
        margin-top: 50px;
      }
    }
  }
}


//ここからセレクト

.kokokara_select_product_left {
  flex: 0 0 100%;
  margin-top: 30px;

  @include media_desktop {
    margin-top: 50px;
  }
}

.kokokara_select_product_right {
  flex: 0 0 100%;
  margin-top: 30px;
}

.kokokara_select_cart_btn_area {
  margin: 30px auto 20px !important;
  padding: 0 5.333%;

  @include media_desktop {
    margin: 40px auto 20px !important;
    padding: 0;
  }

  &__text-01 {
    @include font(15px,400,1.6,.05em);
  }

  &__text-02 {
    margin-top: 8px;
    @include font(15px,700,1.6,.05em);
  }

  &__text-03 {
    margin-top: 15px;
    @include font(17px,700,1.6,.05em);
    text-align: center;
  }

  &__text-sp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 6px 5.333% 10px;
    @include font(18px,700,1,.08em);
    color: #555;
    text-align: center;
    background-color: #fff;
    z-index: 999;
  }
}

.kokokara_select-ec-color-accent {
  @include font(17px,700,1.4,0);
  text-align: center;
  color: salmon;
}

.ks_group_message_fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 34px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px 5.333% 5px;
  @include font(14px,700,1,.08em);
  color: salmon;
  text-align: center;
  background-color: #fff;
  z-index: 999;
}

//slick
.kokokara_select_product_left,
.ec-grid2__column {
  width: 100%;

  .ec-sliderItemRole {

    .item_visual_main {

      div {

        @include media_desktop {
          height: 600px !important;
        }
      }

      .slick-track {
        display: flex;
      }

      .slick-slide {
        max-width: 100%;
        height: auto !important;
        padding: 0 15px;

        @include media_desktop {
          height: 600px !important;
        }

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;

          @include media_desktop {
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    .item_visual_thumb {
      margin-top: 40px;

      .slide-thumb {
        position: relative;
        width: 16.666%;
      }
    }
  }
}


//モーダル
.ec-modal-02 {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @include media_desktop {
    margin-top: 30px;
  }

  .ec-modal-02__banner {
    max-width: 750px;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: .7;
    }

    img {
      width: 100%;
    }
  }
}


//こちらもおすすめ部分
.ec-products-top-area--new-list {
  margin-top: 50px !important;

  @include media_desktop {
    margin-top: 75px !important;
  }

  .ec-shelfRole {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .ec-shelfGrid__item {
    padding-bottom: 0 !important;
  }
}
