@use '../mixins' as *;
/*
Basic Figure Customized(2021.11.01~)

Styleguide 23

*/

/* topページ blog
********************************************/

.ec-top-blog {
  position: relative;

  @include container;
  margin-top: 30px;
  @include media_desktop {
    margin-top: 50px;
  }

  &__btn {
    position: absolute;
    top: 5px;
    right: 15px;

    a {
      font-weight: 800;
      color: #525263;

      &:hover {
        color: #aaa;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    .col-3 {
      flex: 0 0 100%;
      padding: 0 15px;

      @include media_desktop {
        flex: 0 0 33.333%;
      }

      & + .col-3 {
        margin-top: 15px;

        @include media_desktop {
          margin-top: 0;
        }
      }

      a {
        display: flex;

        @include media_desktop {
          display: block;
        }

        .thumbnail {
          flex: 0 0 120px;
          height: 120px;
          margin: 0;
          padding: 0;
          border: none;
          aspect-ratio: 1/1;
          overflow: hidden;

          @include media_desktop {
            flex: none;
            height: auto;
          }

          img {
            width: 100%;
            min-width: 100%;
            height: 100%;
            min-height: 100%;
            object-fit: cover;
          }
        }

        .text-box {
          flex: 0 0 calc(100% - 120px);
          display: block;
          padding: 8px 0 0 15px;

          @include media_desktop {
            flex: none;
            padding: 8px 0 0;
          }

          .meta {
            display: flex;
            align-items: center;

            time {
              color: $bl;
              margin-right: 15px;

              @include media_desktop {
                margin-right: auto;
              }
            }
          }

          .category {
            padding: 5px 12px;
            @include font(15px,500,1,0);
            color: #fff;

            &_ice {
              background-color: #ef857d;
            }

            &_coffee {
              background-color: #6a3906;
            }

            &_bread {
              background-color: #f8b62d;
            }
          }

          .title {
            color: #525263;
          }
        }
      }
    }
  }
}


/* topページ links
********************************************/

.ec-top-links {
  margin-top: 30px;

  @include media_desktop {
    margin: 50px calc(50% - 50vw) 0;
  }

  @media (min-width:1600px) {
    margin: 50px -235px 0;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .ec-top-links-item {
    flex: 0 0 100%;
    user-select: none;

    @include media_desktop {
      flex: 0 0 50%;
    }

    a {
      display: block;

      & > * {
        transition: .3s;
      }

      &:hover * {
        opacity: .7;
        text-decoration: none;
      }
    }

    &__inner {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 0 0 0 40px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      aspect-ratio: 275/125;

      @include media_desktop {
        justify-content: center;
      }
    }

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 140px;
      height: 140px;
      font-size: 18px;
      background-color: rgba(255,255,255,.7);
      color: #555;
      aspect-ratio: 1/1;

      @include media_desktop {
        width: 27%;
        height: auto;
      }

      span {
        display: block;
        margin-top: 7px;
        font-size: 12px;

        @include media_desktop {
          font-size: 13px;
        }
      }
    }

    &__img {
      margin-top: 20px;
      text-align: center;

      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}


/* topページ instagram
********************************************/

.ec-top-instagram {
  margin-top: 30px;
  padding: 0 5.333%;

  @include media_desktop {
    margin-top: 50px;
    padding: 0;
  }
}


/* topページ バナー
********************************************/

.ec-top-banner {
  margin-top: 40px;
  text-align: center;

  a {

    &:hover {
      opacity: .7;
    }
  }
}
