@use '../mixins' as *;

/*
Basic Figure Customized(2021.11.01~)

Styleguide 23

*/

/* components common
**************************************/

/*ページヘッダー*/

.page-header {
  position: relative;
  width: auto !important;
  // max-width: 1400px;
  margin: 0 calc(50% - 50vw);
  // padding-top: 45%;
  padding-top: 260px;
  z-index: 0;
  overflow: hidden;

  @include media_desktop {
    padding-top: 600px;
  }

  // @media (min-width:1401px) {
  //   width: 1400px !important;
  //   margin: 0 -170px;
  // }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(75%);
    z-index: -1;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #fff;

    span {
      display: block;
      margin-top: 18px;
      font-size: 20px;
    }
  }
}

.c-static-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-color: #eee;

  &__title {
    font-size: 28px;
    letter-spacing: .1em;
    text-align: center;
  }

  &__text {
    margin-top: 25px;
    font-size: 17px;
    line-height: 1.333;
    text-align: center;
  }
}


/*パンくず*/

.breadcrumb-wrapper {
  margin: .8rem auto 0;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display:none;
  }

  .breadcrumb {
    width: max-content;
    display: flex;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff !important;

    @include media_desktop {
      width: 100%;
    }

    &__item {
      position: relative;

      & + .breadcrumb__item {
        margin-left: 1.5em;

        &::before {
          content: '>';
          position: absolute;
          top: 0;
          bottom: 0;
          left: -1.1em;
          padding: 0 !important;
          color: #333;
        }
      }

      a {
        @include font(13px,500,1.333,0);
        color: #333;

        @include media_desktop {
          @include font(15px,500,1.333,0);
        }

        &:hover {
          color: #999;
        }
      }
    }
  }

  & + .ec-productRole {
    margin-top: 30px;
  }
}


/*販促店タイトル・リード*/

.p-chain-store-heading {
  width: 100%;
  max-width: 1100px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  @media (min-width:1100px) {
    padding: 0 20px;
  }

  &__title {
    width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    @include font(20px,700,1,.05em);
    background-color: transparent;

    &::before {
      content: none;
    }
  }

  &__lead {
    margin-top: 1.2rem;
    margin-left: auto;
    margin-right: auto;
  }

  & ~ .ec-navlistRole {
    margin-top: 35px;
  }

  & + .ec-shelfRole {
    margin-top: 35px;
  }
}

