@use '../mixins' as *;
/*
Basic Figure Customized(2021.11.01~)

Styleguide 23

*/

/* topページ blog
********************************************/

.ec-top-blog {
  position: relative;
  margin-top: 30px;
  @include media_desktop {
    margin-top: 50px;
  }

  &__btn {
    position: absolute;
    top: 10px;
    right: 18px;

    a {
      @include font(14px,500,1,.1em);
      color: #231815;

      &:hover {
        color: #aaa;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    .col-3 {
      flex: 0 0 100%;
      padding: 0 15px;

      @media (min-width:640px) {
        flex: 0 0 33.333%;
      }

      & + .col-3 {
        margin-top: 15px;

        @media (min-width:640px) {
          margin-top: 0;
        }
      }

      a {
        display: flex;

        @media (min-width:640px) {
          display: block;
        }

        .thumbnail {
          flex: 0 0 120px;
          position: relative;
          margin: 0;
          padding-top: 120px;
          border: none;
          overflow: hidden;

          @media (min-width:640px) {
            flex: none;
            height: auto;
            padding-top: 66.666%;
          }

          img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            min-width: 100%;
            height: 100%;
            min-height: 100%;
            object-fit: cover;
          }
        }

        .text-box {
          flex: 0 0 calc(100% - 120px);
          display: block;
          padding: 8px 0 0 15px;

          @media (min-width:640px) {
            flex: none;
            padding: 8px 0 0;
          }

          .meta {
            display: flex;
            align-items: center;

            time {
              color: $bl;
              margin-right: 15px;

              @media (min-width:640px) {
                margin-right: auto;
              }
            }
          }

          .category {
            min-width: 80px;
            padding: 5px 12px;
            @include font(15px,500,1,0);
            text-align: center;
            color: #fff;

            &_ice {
              background-color: #ef857d;
            }

            &_coffee {
              background-color: #6a3906;
            }

            &_bread {
              background-color: #f8b62d;
            }
          }

          .title {
            color: #231815;
          }
        }
      }
    }
  }
}


/* topページ links
********************************************/

.ec-top-links {
  margin-top: 30px;

  @include media_desktop {
    margin: 50px calc(50% - 50vw) 0;
  }

  @media (min-width:1401px) {
    margin: 50px -170px 0;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .ec-top-links-item {
    flex: 0 0 100%;
    user-select: none;

    @include media_desktop {
      flex: 0 0 50%;
    }

    a {
      display: block;

      & > * {
        transition: .3s;
      }

      &:hover {
        opacity: .8;

        & * {
          text-decoration: none;
        }
      }
    }

    &__inner {
      position: relative;
      width: 100%;
      padding: 45.455% 0 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px;
      right: auto;
      width: 140px;
      height: 140px;
      margin: auto 0;
      font-size: 18px;
      background-color: rgba(255,255,255,.95);
      color: #555;

      @include media_desktop {
        left: 0;
        right: 0;
        margin: auto;
        padding: 14px 5px;
      }

      span {
        display: block;
        margin-top: 7px;
        font-size: 12px;
        line-height: 1.5;

        @include media_desktop {
          font-size: 13px;
        }
      }
    }

    &__img {
      margin-top: 20px;
      text-align: center;

      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}


/* topページ instagram
********************************************/

.ec-top-instagram {
  margin-top: 30px;
  padding: 0 5.333%;

  @include media_desktop {
    margin-top: 50px;
    padding: 0;
  }
}


/* topページ バナー
********************************************/

.ec-top-banner {
  margin-top: 40px;
  text-align: center;

  a {

    &:hover {
      opacity: .7;
    }
  }
}
