{#
* Plugin Name : HiddenDeliveryDate
*
* Copyright (C) BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<div id="hiddendeliverydate" style="display:none;">
    <div class="d-block text-center" style="padding-top:10px;">
        <a class="btn btn-block btn-ec-regular"
           href="{{ url('admin_setting_hiddendeliverydate_hiddenday', {id:id}) }}"
           title="{{ 'hiddendeliverydate.admin.setting.hiddendeliverydate.hiddenday'|trans }}">{{ 'hiddendeliverydate.admin.setting.hiddendeliverydate.hiddenday'|trans }}</a>
    </div>
</div>
