{# 
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'プライバシーポリシー'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">1.プライバシー情報</div>
                <p>プライバシー情報のうち「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報を指します。<br>プライバシー情報のうち「履歴情報および特性情報」とは、上記に定める「個人情報」以外のものをいい、ご購入いただいた商品やご利用いただいたサービス、ご覧になったページや広告の履歴、お客様が検索された検索キーワード、ご利用日時、ご利用の方法、ご利用環境、郵便番号や性別、職業、年齢、住所、勤務先、お客様のEメールアドレス、IPアドレス、クッキー情報、端末の個体識別情報などを指します。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">2.プライバシー情報の収集方法および利用目的</div>
                <p class="ec-text-bold">2-1.収集方法</p>
                <p>当社は、お客様が利用登録をする際に氏名、住所、電話番号、メールアドレス、パスワード、配送先情報、クレジットカード番号などの個人情報をお尋ねすることがあります。また、お客様と提携先などとの間でなされたお客様の個人情報を含む取引記録や、決済に関する情報を当社の提携先（情報提供元、広告主、広告配信先などを含みます。以下、｢提携先｣といいます。）などから収集することがあります。</p>
                <p>当社は、お客様について、購入した商品、利用したサービスやソフトウェア、閲覧したページや広告の履歴、検索した検索キーワード、利用日時、利用方法、利用環境（携帯端末を通じてご利用の場合の当該端末の通信状態、利用に際しての各種設定情報なども含みます）、IPアドレス、Eメールアドレス、クッキー情報、端末の個体識別情報などの履歴情報および特性情報を、お客様が当社や提携先のサービスを利用しまたはページを閲覧する際に収集します。</p>
                <p class="ec-text-bold">2-2.利用目的</p>
                <p>当社が個人情報を収集・利用する目的は、以下のとおりです。</p>
                <ul class="ec-list-privacy">
                    <li>（１）お客様に自分の登録情報の閲覧や修正、利用状況の閲覧を行っていただくために、氏名、住所、連絡先、支払方法などの登録情報、購入された商品や利用されたサービス、およびそれらの代金などに関する情報を表示する目的</li>
                    <li>（２）お客様にお知らせや連絡をするためにメールアドレスを利用する場合やお客様に商品を送付したり必要に応じて連絡したりするため、氏名や住所などの連絡先情報を利用する目的</li>
                    <li>（３）お客様の本人確認を行うために、氏名、住所、電話番号、クレジットカード番号、配達証明付き郵便の到達結果などの情報を利用する目的</li>
                    <li>（４）お客様に代金を請求するために、購入された商品名や数量、利用されたサービスの種類や期間、回数、請求金額、氏名、住所、クレジットカード番号などの支払に関する情報などを利用する目的</li>
                    <li>（５）お客様が簡便にデータを入力できるようにするために、当社に登録されている情報を入力画面に表示させたり、お客様のご指示に基づいて他のサービスなど（提携先が提供するものも含みます）に転送したりする目的</li>
                    <li>（６）代金の支払を遅滞したり第三者に損害を発生させたりするなど、本サービスの利用規約に違反したお客様や、不正・不当な目的でサービスを利用しようとするお客様の利用をお断りするために、利用態様、氏名や住所など個人を特定するための情報を利用する目的</li>
                    <li>（７）お客様からのお問い合わせに対応するために、お問い合わせ内容や代金の請求に関する情報など当社がお客様に対してサービスを提供するにあたって必要となる情報や、お客様のサービス利用状況、連絡先情報などを利用する目的</li>
                    <li>（８）お客様にご提供するサービスを調査・選択するため</li>
                    <li>（９）当社および関連会社・グループ会社においての共同利用する目的</li>
                    <li>（１０）当社および関連会社・グループ会社において新商品・サービスに関する情報の提供および提案する目的</li>
                    <li>（１１）上記の利用目的に付随する目的</li>
                </ul>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">3.個人情報の第三者提供</div>
                <p>当社は、次に掲げる場合を除いて、あらかじめお客様の同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。</p>
                <ul class="ec-list-privacy">
                    <li>（１） 法令に基づく場合</li>
                    <li>（２） 人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                    <li>（３） 公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                    <li>（４） 国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
                    <li>（５） 予め次の事項を告知あるいは公表をしている場合
                        <ul class="ec-list-privacy-child">
                            <li>①利用目的に第三者への提供を含むこと</li>
                            <li>②第三者に提供されるデータの項目</li>
                            <li>③第三者への提供の手段または方法</li>
                            <li>④本人の求めに応じて個人情報の第三者への提供を停止すること</li>
                        </ul>
                    </li>
                </ul>
                <p>前項の定めにかかわらず、次に掲げる場合は第三者には該当しないものとします。</p>
                <ul class="ec-list-privacy">
                    <li>（１）当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
                    <li>（２）合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
                    <li>（３）個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報の項目、共同して利用する者の範囲、利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について、あらかじめ本人に通知し、または本人が容易に知り得る状態に置いているとき</li>
                </ul>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">4．個人情報の開示</div>
                <p>当社は、本人から個人情報の開示を求められたときは、本人に対し、遅滞なくこれを開示します。ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。なお、個人情報の開示に際しては、１件あたり1,000円（税込）の手数料を申し受けます。</p>
                <ul class="ec-list-privacy">
                    <li>（１）本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合（2）当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合（3）その他法令に違反することとなる場合</li>
                </ul>
                <p>前項の定めにかかわらず、履歴情報および特性情報などの個人情報以外の情報については、原則として開示いたしません。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">5．個人情報の訂正・削除および利用停止等</div>
                <p>お客様は、当社の保有する自己の個人情報が誤った情報である場合には、当社が定める手続きにより、当社に対して個人情報の訂正または削除を請求することができます。</p>
                <p>当社は、お客様から前項の請求を受けてその請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の訂正または削除を行い、これをお客様に通知します。</p>
                <p>当社は本人から、個人情報が、利用目的の範囲を超えて取り扱われているという理由、または不正の手段により取得されたものであるという理由により、その利用の停止または消去（以下、「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行い、その結果に基づき、個人情報の利用停止を行い、その旨本人に通知します。ただし、個人情報の利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、本人の権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じます。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">6．cookie（クッキー）の使用について</div>
                <p>当ショップでは、ヤフー株式会社をはじめとする第三者から配信される広告が掲載される場合があり、これに関連して、当該第三者が、当ショップを訪問したユーザーのクッキー情報等を取得し、利用している場合があります。</p>
                <p>当該第三者によって取得されたクッキー情報等は、当該第三者のプライバシーポリシーに従って取り扱われます。 ユーザーは、当該第三者のウェブサイト内に設けられたオプトアウトページにアクセスして、当該第三者によるクッキー情報等の広告配信への利用を停止することができます。 クッキーとは、ウェブページを利用したときに、ブラウザーとサーバーとの間で送受信した利用履歴や入力内容などを、お客様のコンピューターにファイルとして保存しておく仕組みです。 次回、同じページにアクセスすると、クッキーの情報を使って、ページの運営者はお客様ごとに表示を変えたりすることができます。 お客様がブラウザーの設定でクッキーの送受信を許可している場合、ウェブサイトは、ユーザーのブラウザーからクッキーを取得できます。 なお、お客様のブラウザーは、プライバシー保護のため、そのウェブサイトのサーバーが送受信したクッキーのみを送信します。 お客様は、クッキーの送受信に関する設定を「すべてのクッキーを許可する」、「すべてのクッキーを拒否する」、 「クッキーを受信したらユーザーに通知する」などから選択できます。</p>
                <p>設定方法は、ブラウザーにより異なります。クッキーに関する設定方法は、お使いのブラウザーの「ヘルプ」メニューでご確認ください。すべてのクッキーを拒否する設定を選択されますと、認証が必要なサービスを受けられなくなる等、インターネット上の各種サービスの利用上、制約を受ける場合がありますのでご注意ください。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">7．SSLの使用について（個人情報の安全）</div>
                <p>個人情報の入力時には、セキュリティ確保のため、これらの情報が傍受、妨害または改ざんされることを防ぐ目的でSSL（Secure Sockets Layer）技術を使用しております。※ SSLは情報を暗号化することで、盗聴防止やデータの改ざん防止送受信する機能のことです。SSLを利用する事でより安全に情報を送信する事が可能となります。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">8．プライバシーポリシーの変更</div>
                <p>本ポリシーの内容は、お客様に通知することなく、変更することができるものとします。当社が別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">9．お問い合わせ窓口</div>
                <p>本ポリシーに関するお問い合わせは、下記の窓口までお願いいたします。</p>
                <p>【住所】〒150-0012 <br>　　　　東京都渋谷区広尾3-12-36 ワイマッツ広尾<br>【社名】株式会社ダシーズファクトリー<br>【担当部署】オンラインショップ運営事務局<br>【Eメールアドレス】support@darcys-factory.co.jp</p>
            </div>
        </div>
    </div>
{% endblock %}