{# 
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>株式会社ダシーズファクトリー</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">運営統括責任者名</label>
                        </dt>
                        <dd>児玉陽平</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>
                            <p class="ec-borderedDefs-text-bold">出荷元（店舗所在地）</p>
                            <p>〒161-0033<br>
                            東京都新宿区下落合1-7-18<br>（東京富士大学五号館1F）<br>TEL: 03-6370-7000</p>
                            <p class="ec-borderedDefs-text-bold">本社所在地</p>
                            <p>〒150-0012 <br>
                            東京都渋谷区広尾3-12-36<br>ワイマッツ広尾</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の料金の説明</label>
                        </dt>
                        <dd>販売価格とは別に配送料、代引き手数料、振込手数料がかかる場合もございます。</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">申込有効期限</label>
                        </dt>
                        <dd>商品のキャンセルはご注文後、ご入金・ご決済確定前に限らせていただきます。なお、商品出荷後のキャンセルは、すべて返品扱いとなります。銀行振込の場合：ご注文後7日以内といたします。ご注文後７日間ご入金がない場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせていただきます。</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">販売数量</label>
                        </dt>
                        <dd>各商品ページにてご確認ください。</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">引渡し時期</label>
                        </dt>
                        <dd>
                            ・クレジットカード：ご注文日から3～7日前後<br>
                            ・銀行振込：ご入金確認後3～7日前後
                            <p class="ec-borderedDefs-text-small">※　年末年始、その他連休はこの限りではありません。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">お支払い方法</label>
                        </dt>
                        <dd>
                            ・クレジットカード<br>
                            ・銀行振込
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">お支払い期限</label>
                        </dt>
                        <dd>
                            ・クレジットカード：ご注文時<br>
                            ・銀行振込：ご注文から7日間
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">返品・キャンセル対応</label>
                        </dt>
                        <dd>
                            商品発送後のお客様のご都合による返品・交換・キャンセルは、お受けすることが出来ません。<br>
                            品質管理には十分な注意を払っておりますが、万が一内容に相違がある場合、商品の破損・傷みなどの品質上の問題があった場合には、誠に恐れ入りますが、商品は捨てず、商品引き渡しから食品の場合は3日以内、その他の商品は7日以内に下記までご連絡ください。<br>
                            早急に内容を確認の上、責任を持って対応させて頂きます。
                            <p class="ec-borderedDefs-text-bold">TEL: 03-6370-7000　(10:00am〜5:00pm 休業日 / 土日祝)</p>
                            <p class="ec-borderedDefs-text-bold">E-mail: support@darcys-factory.co.jp　(24時間365日受付)</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">不良品</label>
                        </dt>
                        <dd>
                            商品到着後速やかにご連絡ください。商品に欠陥がある場合を除き、返品には応じかねますのでご了承ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">サービス名</label>
                        </dt>
                        <dd>
                            Darcy's Factory Online Shop
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">公開メールアドレス</label>
                        </dt>
                        <dd>support@darcys-factory.co.jp</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">ホームページアドレス</label>
                        </dt>
                        <dd>https://darcys-factory.co.jp</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}