{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set totalQuantity = get_carts_total_quantity() %}
<div class="ec-cartNaviWrap">
    <div class="ec-cartNavi">
        <a href="{{ url('cart') }}">
          <img src="{{ asset('assets/img/common/icon_cart_sp.png') }}" width="30">
          <span class="ec-cartNavi__badge">{{ totalQuantity|number_format }}</span>
        </a>
    </div>
</div>
