{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-header-bottom">
  <div class="ec-header-bottom__logo">
    <p class="ec-header-bottom__img">
      <a href="{{ url('homepage') }}">
        <img src="{{ asset('assets/img/common/logo_header.png') }}" alt="">
      </a>
    </p>
  </div>
</div>