<section class="ec-top-links">
    <div class="ec-top-links__inner">
        <div class="ec-top-links-item">
            <a href="/shop/story/">
                <div class="ec-top-links-item__inner" style="background-image:url({{ asset('assets/img/top/story_small.png') }});">
                    <h3 class="ec-top-links-item__title">
                        STORY
                        <span>製品の誕生<br>ものがたり</span>
                    </h3>
                </div>
            </a>
        </div>
        <div class="ec-top-links-item">
            <a href="/shop/concept/">
                <div class="ec-top-links-item__inner" style="background-image:url({{ asset('assets/img/top/concept_small.png') }});">
                    <h3 class="ec-top-links-item__title">
                        CONCEPT
                        <span>製品のこだわり</span>
                    </h3>
                </div>
            </a>
        </div>
        <div class="ec-top-links-item">
            <a href="/shop/products/">
                <div class="ec-top-links-item__inner" style="background-image:url({{ asset('assets/img/top/products_small.png') }});">
                    <h3 class="ec-top-links-item__title">
                        PRODUCTS
                        <span>製品一覧</span>
                    </h3>
                </div>
            </a>
        </div>
        <div class="ec-top-links-item">
            <a href="">
                <div class="ec-top-links-item__inner" style="background-image:url({{ asset('assets/img/top/stores_small.png') }});">
                    <h3 class="ec-top-links-item__title">
                        STORE
                        <span>実店舗のご案内</span>
                    </h3>
                </div>
            </a>
        </div>
    </div>
</section>