{#

This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

<div class="ec-role">
    <div class="c-static-page-header">
      <h1 class="c-static-page-header__title">CONCEPT</h1>
      <p class="c-static-page-header__text">ダシーズファクトリーの商品コンセプト</p>
    </div>
    <div class="p-concept">
      <div class="p-concept__card">
        <h2 class="p-concept__card__title">ICE CREAM</h2>
        <div class="p-concept__card__figure">
          <a href="">
            <div style="width:100%;height:300px;background-color:#eee;"></div>
          </a>
        </div>
        <p class="p-concept__card__text">ダシーズ ギルトフリーアイスクリームの誕生は、オリンピック金メダリストの松本薫のアイデアから生まれました。現役時代のエピソードがきっかけでダシーズのアイスは今多くの人々の「罪悪感なくおいしいアイスが食べたい！」という願いを叶えています。</p>
      </div>
      <div class="p-concept__card">
        <h2 class="p-concept__card__title">COFFEE</h2>
        <div class="p-concept__card__figure">
          <a href="">
            <div style="width:100%;height:300px;background-color:#eee;"></div>
          </a>
        </div>
        <p class="p-concept__card__text">ダシーズコーヒーの広大な畑は、ハワイ島のコナ地区にあります。オーガニックであることにこだわり、自然の力に逆らわずに育てたコーヒーの木は鳥や虫たちでいつも賑やか。そして、ここには周りからあるおちゃめな動物もやってくるようです。</p>
      </div>
      <div class="p-concept__card">
        <h2 class="p-concept__card__title">BREAD</h2>
        <div class="p-concept__card__figure">
          <a href="">
            <div style="width:100%;height:300px;background-color:#eee;"></div>
          </a>
        </div>
        <p class="p-concept__card__text">ほんのり甘い香りとサクッと端切れの良いパンは１日のはじまりにぴったり。どなたにでも安心して召し上がっていただくために小麦粉なのにグルテンフリーのパンを作りました。新しい朝にひとときの幸せを届けてくれる食パンです。</p>
      </div>
    </div>
</div>

{% endblock %}