{#

This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>事業内容</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell ec-privacy-cell">
            <div class="ec-heading-bold">★主たる事業</div>
            <div class="ec-heading-bold">・ダシーズギルトフリーアイスクリーム事業</div>
            <p>産学連携モデルによる、ギルトフリー（罪悪感の無い）アイスクリームの研究・開発・販売を目的に事業開始。<br>
              Darcy’ｓアイスクリームラボ「アイスクリーム 研究所」は、東京富士大学の中にあります。<br>
              気づきの授業の一環としてアイスクリームを通し、販売展開やマーケティング提案など、学生たちと一緒に考えながらアイスクリームを製造販売していく新しい試みをしています。</p>
              <p class="ec-privacy-cell__small-letter">※　ギルトフリーとは、<br>
              guilt（罪悪感）とfree（無い）を組み合わせた言葉。つまり、身体に悪いものが入っていない、食べることが身体にプラスになる、罪悪感を感じずに食べられるアイスクリームを目指しています。</p>
        </div>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell ec-privacy-cell">
            <div class="ec-heading-bold">・ダシーズブレッド事業</div>
            <p>独自の製法と厳選された素材の組み合わせで焼き上げた後、自然冷却し一番おいしいタイミングで瞬間冷凍をしています。</p>
            <p>瞬間冷凍することで、「出来立ての美味しさを封じ込めたまま」全国にお届けることが可能になりました。</p>
            <p>また、おウチのトースターで冷凍のまま焼き上げた時がダシーズブレッドの出来上がりです</p>
        </div>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell ec-privacy-cell">
            <div class="ec-heading-bold">・ハワイアンフレーバーコーヒー事業</div>
            <p>ハワイアンフレーバーコーヒーの輸入並びに加工、販売。</p>
            <p>缶コーヒー等の飲料の製造、販売、並びに各種食材の仕入、販売。</p>
            <p>ハワイ島などで栽培されたハワイアンフレーバー珈琲を全国の皆様にお届けいたします。</p>
        </div>
    </div>
</div>

{% endblock %}