@import "../mixins/media";
/*
Basic Figure Customized(2021.11.01~)

Styleguide 24

*/

/* components common
**************************************/

/*ページヘッダー*/
.c-static-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-color: #eee;

  &__title {
    font-size: 28px;
    letter-spacing: .1em;
    text-align: center;
  }

  &__text {
    margin-top: 25px;
    font-size: 17px;
    line-height: 1.333;
    text-align: center;
  }
}


/* privacy policy
********************************************/

.ec-privacy-cell {

  p {
    margin-bottom: 16px;

    &.ec-privacy-cell__small-letter {
      font-size: 90%;
    }
  }

  ul {
    margin-bottom: 16px;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 4px;
      padding-left: 1em;
      text-indent: -1em;

      ul {
        margin-top: 10px;
      }
    }

    &.ec-list-privacy-child {
      padding-left: 1em;
    }
  }
}


/* project concept
**************************************/

.p-concept {

  &__card {
    width: 89.333%;
    max-width: 800px;
    margin: 60px auto 0;

    &__title {
      font-size: 22px;
      line-height: 1;
      letter-spacing: .1em;
    }

    &__figure {
      margin-top: 14px;
    }

    &__text {
      margin-top: 10px;
      font-size: 16px;
      line-height: 1.417;
      letter-spacing: .02em;
    }
  }
}
