{# 
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'プライバシーポリシー'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">1．個人情報の取得</div>
                <p>株式会社ダシーズファクトリー（以下、当社）は、業務上必要な範囲内かつ、適法で公正な手段により個人情報を取得します。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">2．個人情報の利用目的</div>
                <p>当社では、次の業務を実施する目的に必要な範囲内で個人情報を利用します。当社による個人情報の収集・利用は、お客様の自発的な提供によるものであり、お客様が個人情報を提供された場合は、当社が本方針に則って個人情報を利用することをお客 様が許諾したものとします。</p>
                <ul class="ec-list-privacy">
                    <li>・お客様に関する個人情報について
                        <ul class="ec-list-privacy-child">
                            <li>① お問合せ・ご相談・各種サポートへの対応、確認及び記録</li>
                            <li>② ご案内状・電子メール等による商品・サービス・キャンペーン等の情報提供</li>
                            <li>③ 商品の発送</li>
                            <li>④ 商品開発その他サービスの改善・向上</li>
                        </ul>
                    </li>
                    <li>・業務遂行上で必要となる当社からの問い合わせ、及びサービス向上のための意見収集</li>
                </ul>
                <p>その他、上記に付随する業務ならびにお客様とのお取引および当社の業務運営を適切かつ円滑に履行するために行う業務個人情報の目的外使用・第三者提供についてお客様から取得いたしました個人情報は、お客様の同意を得た場合、法律上提供しなければならない場合を除き、目的の範囲を超えて利用したり、第三者に開示・提供することはいたしません。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">3．個人データの安全管理</div>
                <p>当社は個人データを正確かつ最新なものにするため、個人情報保護管理責任者を設置し、十分な安全保護に努め、また、個人情報を正確に、また最新なものに保つよう、お預かりした個人情報の適切な管理を行います。また、個人データへの不正なアクセス等が行われることを防止するため、必要と考えられる対策を講じます。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">4．個人データの第三者への提供</div>
                <p>当社は、次の場合を除き、第三者に個人データを提供することはありません。</p>
                <ul class="ec-list-privacy">
                    <li>・あらかじめご本人様のご同意がある場合</li>
                    <li>・利用目的の達成に必要な範囲内で、個人情報の取扱いの全部又は一部を第三者に委託する場合（当社は、委託先の選定に配慮するとともに、個人情報の取扱いに関する契約を締結する等して、個人情報の漏洩・滅失・改ざんの防止を図り、必要に応じて委託先に対して監督・指導等を行います）</li>
                    <li>・合併その他の理由による事業の承継に伴い、個人情報を提供する場合</li>
                    <li>・法令等により認められている場合</li>
                </ul>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">5．個人情報の開示・訂正・利用停止等について</div>
                <p>当社は、お客様からご自身の個人情報に関して利用目的の通知・開示・訂正・追加・削除・利用停止の依頼があった場合は、特別の理由がない限り対応致します。個人情報に関するお問合せ先は、当社ホームページ上のお問合せ窓口からお知らせください。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">6．個人情報保護方針の見直しについて</div>
                <p>当社は、本個人情報保護方針について、法令等の制定改廃や社会情勢の変化・お客様の認識の変化・技術の進歩等に応じて継続的に改善・向上に努めます。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">7．当社の運営するウェブサイト・アプリケーションソフトの利用者に関する個人情報について</div>
                <p>ウェブサイト・アプリケーションソフトへの投稿・応募作品（画像・動画を含む）の、当社及び当社関連会社の広告物における利用範囲</p>
                <p class="ec-privacy-cell__small-letter">※当該投稿・応募作品にかかる肖像権、著作権その他産業財産権は、当該投稿・応募作品を行った利用者本人に帰属しますが、投稿または応募されたことをもって、利用者は当社に対し、当該投稿・応募作品を、全世界において無償で非独占的に使用する（複製、公開、送信、頒布、譲渡、貸与、翻訳、翻案を含む）権利を許諾（第三者に再許諾する権利を含む）したものとし、かつ、当社に対して著作者人格権を行使しないことに同意したものとします。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">8．お問い合わせについて</div>
                <p>上記の基本方針および個人情報の開示等に関するお問い合せは、下記までお願い致します。ご照会者がご本人であることをご確認させていただいたうえで対応させて戴きますので、あらかじめご了解をお願い致します。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">9．クッキーの利用</div>
                <p>ウェブサイトを利用するお客様の情報を、コンピュータ(ハードドライブ)上で記録管理する技術のことを「クッキー(Cookie)」といいます。<br>当社のウェブサイトの中には、お客様が当社のサイトを一層便利にご利用頂けるように、クッキーを使用しているページがあります。<br>ブラウザでクッキーの使用設定を変更してクッキー使用を拒否された場合には、商品のご購入等サービスの一部又は全部につきご利用頂けないことがあります。 また、ウェブサイトの改善を行うため、個人が特定できない状態でお客様のウェブサイトご利用状況を調査するためにクッキーを利用します。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">10． SSL (セキュリティ) について</div>
                <p>当社のホームページでは、お客様から個人情報を送信して頂く際に、SSL (Secure Socket Layer：インターネット上で情報を暗号化して通信する業界標準のセキュリティ機能) により、お客様が発信する個人情報を保護します。お客様がSSLに準拠したブラウザをご使用されることで、お客様の個人情報を自動的に暗号化して送受信します。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell ec-privacy-cell">
                <div class="ec-heading-bold">11．その他</div>
                <p>当社は、個人情報保護に関する取組みの運営の変更のため又は法令の変更等に対応するため、上記の「個人情報の保護に関する法律に基づく公表事項」等について予告なく変更・改定する場合があります。</p>
            </div>
        </div>
    </div>
{% endblock %}