{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block stylesheet %}
	<style>
        .ec-reportHeading{
            text-align:left;
        }
        .ec-reportDescription {
            text-align:left;
        }
        .ec-registerCompleteRole {
            max-width:700px;
        }
    </style>
{% endblock stylesheet %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'front.entry.complete_title__temporary'|trans }}</h1>
        </div>
    </div>
    <div class="ec-registerCompleteRole">
        <div class="ec-text-ac">
            <div class="">
                <div class="ec-reportHeading">
                    <h2>既に登録済みかURLに問題があります</h2>
                </div>
                <p class="ec-reportDescription">
                    既に登録済みかURLに問題があります。<br>
                    本会員登録完了のURLを2回以上クリックしているかも知れません。<br>
                    ログイン画面からログインを行ってください。
                </p>
                <div class="ec-off4Grid">
                    <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel" href="{{ url('mypage_login') }}">ログインページへ</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
