/**
 * ECCUBE 固有のスタイルユーティリティ
 */

@mixin borderTop(){
  border-top: 1px dotted #ccc;
}

@mixin borderBottom(){
  border-bottom: 1px dotted #ccc;
}

@mixin reset_link(){
  a{
    color: inherit;
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}

@mixin font($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
