@charset "UTF-8";

body{
    font-family: TahomaNum,"Noto Sans JP",TsukuARdGothic-Regular,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","メイリオ",Meiryo,"Yu Gothic UI",YuGothic,"Yu Gothic",sans-serif;
}


/*//////////// ヘッダー /////////////*/
/*ヘッダーの幅を広げる*/
.ec-header-top {
  max-width: inherit;
  margin: 0.2rem 1rem 0 0;
}

/*上記プラス、グローバルメニューの下揃え*/
.ec-header-bottom {
  max-width: inherit;
  padding: 0 !important;
  margin-bottom: calc(1.8rem*1);
}

ul.p-global-navi {
  position: relative;
  top: 0.5rem;
}

/*レスポンシブ時のONLINESHOPのフォントWPとECを同じに*/
.ec-header-navi-sp__store a p .large{
    font-size: 14px;
}

/*グローバルメニューとカートの横並び*/
.ec-header-bottom__center {
  margin: unset;
}
/*WPのTOP画像にてグローバルメニューとの幅調整*/

/*6/14グローバルメニューが再度幅調整*/
.c-entry__content{
    padding:0!important;
}
/*wp制作分のメイン画像とヘッダー位置の調整*/
.p-entry-content>:first-child, .textwidget>:first-child {
    margin-top: -4rem;
}

/*MENU一覧のhover日本語調整*/
a.p-global-navi__jp{
    background: rgba(255,255,255,0.9);
    font-size: 0.7rem;
}
ul.p-global-navi-child{
    margin:0 auto;
}
.ec-header-bottom__gnav .p-global-navi__jp.active {
    padding-left:0.4rem;
    margin-top: 0.3rem;
}
/*MENU一覧のhover日本語のもう一つ下の下層*/
.ec-header-bottom__gnav .p-global-navi-child{
    width:165px;
/*    border: 1px solid #f6f6f6;
*/    background: rgba(255,255,255,0.9);
        padding: 9px 14px;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

/*MENU一覧の調整*/
 .ec-header-bottom__gnav .p-global-navi__item a {
  font-size: 0.9rem;
  font-weight: 600;
     padding-left: 1rem;
    margin: 0 auto;
width: 165px;
    position: relative;
     left: -1rem;
/*    text-align: center;
*/}

.l-contents__body {
  position: relative;
  /* 6/7 影響範囲が広いためコメントアウト */
  /* top: -2rem; */
}
.ec-header-bottom__gnav .p-global-navi{
    padding-top:2.5rem;
    font-family: sans-serif;
}

/*wp作成グローバルメニュー下の影*/
.l-header--sticky-sm {
  box-shadow: none;
}

.l-header {
  overflow: inherit;
  /* パンくずリストの文字が切れるため修正 5/26 */
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .ec-layoutRole__contents {
    border: none;
    padding-top: 0;
    margin-top: 1.8rem/*ヘッダー部分の幅も動く*/;
    border-top: 1px solid #f6f6f6;
  }
}

/*キーワード検索*/
.ec-header-search__keyword {
  border: none;
  border-bottom: 1px solid #666;
  border-radius: 0px;
}

.ec-header-search__keyword .ec-icon {
  height: auto;
}

input.search-name {
  height: 28px !important;
}

/*カートの丸の大きさ・位置*/
.ec-header-bottom__store-link-item a .ec-cartNavi-badge {
  padding: 6px 3px 4px 4px;
  top: -4px;
  /* 5/30 グローバルメニュー修正のため修正*/
  right: -10px;
  background-color: #de5d50;
    border: none;
    font-size: 0.9rem;
        width: 65%;
  font-weight: 100;
}

/*カート数量・online文字大きさ・中央揃え・囲み*/
.ec-header-bottom__store-link-item span {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0;
  background: #333;
  color: #fff;
width: 145px;
    border: 4px double #FFF;
    box-shadow: 1px 1px 3px #333;
/*カート数量の高さ*/
  line-height: .9;
}

/*.ec-header-bottom__store-link-item span:nth-child(2):before{
      content: "\f290";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}*/
.ec-header-bottom__store-link{
    position: relative;
    top: -3rem;
    right: 0.1rem;
}
/*カートとonline隙間なし*/
.ec-header-bottom__store-link-item+.ec-header-bottom__store-link-item {
/*  margin-left: 0;
*/
}
/*onlineとGuideの日本語表示*/
a.store-link-jp{
    background: rgba(255,255,255,0.9);
    width: 145px;
    height: 2.5rem;
    font-size: 0.6rem;
/*        height: 50px;*/
position: relative;
    top: 1rem;
}
.ec-header-bottom__store-link-item .store-link-jp.active{
    font-size: 0.8rem;
    left:0rem;
    top:3.3rem;
    text-align: center;
}
.ec-header-bottom__store-link-item{
    margin-left: 0.5rem;
}
.ec-header-bottom__store-link-item:nth-child(2){
    margin-left:1.4rem;
}
.ec-header-bottom__store-link-item:nth-child(1){
    margin-top:1rem;
    left:-0.3rem;
    top:-0.5rem;
}
/*GUIDEの調整*/
.ec-header-bottom__store-link-item span.store-link-small{
    background-color: #fff;
    color: #333;
    padding: -0.05rem 0;
  border: 4px double #ddd;
    font-size: 100%;
}

/*ロゴを上位置へ*/
.ec-header-bottom__logo {
  top: -1.1rem;
  left: 3rem;
}

/*新規会員・ログイン*/
.ec-header-nav__item a {
  border-radius: 0;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 3px 24px;
}

span.ec-header-nav__item-link {
  color: #333 !important;
  font-weight: 100;
  font-size: 0.8rem;
}

/*カートとオンラインショップ下揃え*/
.ec-header-bottom__right {
  position: absolute;
  top: 3.9rem;
    right: 1rem;
}

/*//////////// フッター /////////////*/
/*カラー変更など*/
.ec-footer-navi a {
  color: #fff;
    font-weight: 100;
    font-size: 0.8rem;
}
.ec-footer-navi{
    flex: 0 0 13%;
}

.ec-footer-role {
  background-color: #333;
  padding-top:3rem;
  font-family: sans-serif;
    }

.ec-footer-title {
  color: #fff;
}

.ec-footer-title__copyright {
  color: #fff;
font-size: 0.7rem;
}

.ec-footer-navi__link {
    line-height: 1.5;
}
.ec-footer-role__top{
    justify-content: center;
}

/*SNS*/
.ec-footer-sns-navi{
    margin-top: 0;
    justify-content: flex-end;

}
.ec-footer-sns-navi__link{
    width: 11%;
}

/*下の2ライン部分*/
.ec-footer-role__bottom{
    margin-top: 6rem;
    border-top: 0.1rem solid #444;
    padding-top: 1rem;
}

.ec-footer-title{
    padding: 5px 0px 10px 0px;
}
.ec-footer-role__bottom .ec-footer-bottom-navi a {
    font-size: 0.7rem;
}

/*//////////// パンくず /////////////*/
ol.breadcrumb {
    font-family: sans-serif;
    font-size: 0.8rem;
}
.breadcrumb-wrapper .breadcrumb__item a{
    font-size: 0.8rem;

}

/*//////////// TOPページ /////////////*/
/*NEWS下のドットの飾り*/
span.ec-secHeading__en {
  border-bottom: 6px dotted #ddd;
}
.ec-secHeading{
    width:50%;
}

/*一覧をみる*/
.ec-top-blog__btn a {
  font-size: 0.8rem;
  color: #333;
font-weight: 100;
}

.ec-top-blog__btn {
  top: 12px;
}
p.title{
    margin-top: 0.3rem;
}
time{
    font-size: 0.8rem;
}
.meta time{
    color: #333;
}
/*otherボタンの背景色*/
p.category{
}

/*画像バナーメニューボタン*/
section.ec-top-links {
  margin-top: 6rem;
}

.ec-top-links .ec-top-links-item__title {
/*  box-shadow: 0.2rem 0.2rem 0.1rem #ede4e1;
*/  color: #fff;
    border: 3px double #ddd;
    background-color: #000;
    opacity: .8;

}
.ec-top-links .ec-top-links-item{
    border: 1px solid #ede4e1;
}
.ec-top-links-item__inner{
    box-shadow: 1px 1px 4px #999;
}

/*オンラインバナー*/
.ec-top-blog .row {
  margin-bottom: 6rem;
justify-content: space-between;
}

.ec-top-banner img {
  box-shadow: 0.2rem 0.2rem 0.3rem #999;
}

/*インスタ上*/
.ec-top-instagram {
  margin-top: 10rem;
}

h3 {
  color: #333;
}

/*インスタのボタン*/
#sb_instagram #sbi_load .sbi_load_btn,
#sb_instagram .sbi_follow_btn a {
  border-radius: 0 !important;
color:#333!important;
    border:1px solid #333!important;
    background-color: #fff!important;
    font-weight: bold!important;
    font-family: sans-serif!important;
}

section.ec-top-instagram {
  margin-bottom: 6rem;
}

/*//////////// NEWS & INFORMATION /////////////*/
/*幅揃える*/
/* 6/10 影響範囲が大きいためコメントアウト */
/* .c-container, */
.recommend-list {
  width: auto;
    /*パンくず幅いっぱい表示*/
    display: inline;
}

/*記事タイトル*/
.section-news .category-panel a .c-entry-summary__title {
  font-size: 0.8rem;
  text-align: left;
  /*    padding: 1rem 0.5rem;*/
  font-weight: 500;
}

.category-panel,
.c-entry-summary__header {
  padding: 0;
}

.c-entry-summary__header {
  margin-bottom: 2rem;
}

/*日付*/
.category-panel .c-entry-summary__header .c-entry-summary__meta .c-meta__item--published {
  font-size: 0.8rem;
}
/*こちらもおすすめ*/
.recommend-list__title{
    font-size: 0.9rem;
}
.snow-monkey-posts.snow-monkey-recent-posts {
    margin-bottom: 4rem;
}
.snow-monkey-posts.snow-monkey-recent-posts::after {
    border:1px solid #f6f6f6;
}



/*//////////// パンくず /////////////*/
.breadcrumb-wrapper {
  margin-bottom: 7rem;
    margin-left: 1rem;
margin-left: calc(50% - 50vw);
    padding-left: 1rem;
}

/*//////////// shop/products-list/商品ラインナップ /////////////*/
section.wp-block-snow-monkey-blocks-section.smb-section.smb-section--fit.section-products-list {
  padding-top: 0;
}

/*アイス、コーヒーなどh3の余白確保(ガイドページの説明文にもリンク)
*/
.smb-section__body>h3 {
  margin-top: 2.5rem !important;
/*  margin-bottom: 0.8rem;
*//*  background: linear-gradient(transparent 75%, #CAE8DA 100%);*/
  font-size: 1.5rem;
  padding-left: 0.5rem;
    font-weight: 100;
}


/*商品名文字の調整*/
.c-entry-summary__title {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  /*    background: linear-gradient(transparent 35%, #f6f6f6 100%);*/
  padding: 1rem 0 0.3rem 0;
  /*    border-radius: 10px;*/
}

section.c-entry-summary.c-entry-summary--products.c-entry-summary--type-products {
/*  border-left: 0.5px solid #f8f8f8;
  border-top: 0.5px solid #f8f8f8;*/
  margin-bottom: 1rem;
}

/*製品の囲み(実店舗も連動)*/
.c-entries__item{
        box-shadow: 1px 1px 3px #f6f6f6;
    padding:0.5rem;
}

/*//////////// shop/products/listページ（オンラインショップ） /////////////*/
/*テキスト*/
.online-store-information__text {
  text-align: left;
  font-weight: 100;
  font-size: 1rem;
}

.online-store-information__text+.online-store-information__text {
  margin-top: 0.1rem;
}

.online-store-information {
  max-width: none;
}
/*商品タイトル*/
p.ec-shelfGrid__title{
    margin: 2rem 0 1rem 0;
    font-family: sans-serif;
    border-bottom: 0.01rem solid #ddd;
    padding-bottom: 0.5rem;
}
.ec-shelfGrid__item .price02-default{
    margin-bottom: 2.5rem;
}
/*おいしい食べ方のバナー*/
.ec-modal-02{
    padding:0 0 3rem 0;
    border-bottom: 1px dotted #ccc;
}

/*現在の選択数量合計*/
p.kokokara_select_cart_btn_area__text-03{
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: #f6f6f6;
    margin-top: 1rem;
}
/*カテゴリー部分の背景*/
.category-tab {
  background-color: #f6eff0;
  padding: 0.7rem 0;
}

/*カテゴリー4つのwrap*/
.category-tab__list {
  flex-wrap: wrap;
}
.category-tab__title {
  text-align: center;
}
.category-tab__item{
    margin: 0 0 10px
}
/*購入ボタンの色*/
/*商品を選択する*/
.ec-shelfGrid__btn a{
    background-color: #d15204;
        border:1px solid #d15204;
/*    width: 77%;
*/    margin: 0 auto;
/*ボタン上のpadding-bottom:90pxを調整*/
    position: relative;
    top:-4rem;
}
.ec-shelfGrid__btn a:hover{
    color: #d15204;
    opacity: 1;
    background-color: #FEF5F0;
}

/*カートに入れる*/
 .ec-shelfGrid__btn button{
    background-color: #824e2e;
        border:1px solid #824e2e;
}
 .ec-shelfGrid__btn button:hover{
     color:#824e2e;
     opacity: 1;
     background-color: #F2EDEA;
}
/*数量選択form位置調整*/
.ec-shelfGrid__form {
    bottom: 56px;
    right: 0rem;
}

/*画像を正方形に*/
/*.c-entry-summary__figure{
    width:16rem;
    height: 16rem;
}*/

/*//////////// shop/products/個別製品ページ(オンラインショップ) /////////////*/
/*メイン画像のサイズをマックス横幅に*/
.pageheader-wrap {
  max-width: inherit;
}

.pageheader {
  max-width: inherit;
}
/*フレーバーサブタイトル*/
.sme-font-size{
   margin-bottom: 0rem;
}
span.sme-text-color {
    font-size: 1rem;
    font-weight: 100;
}

span.sme-font-size.has-sm-small-font-size{
        font-size: 1rem;
    font-weight: 100;
    color: #535151/*実店舗のフォームリンクボタンと同じ*/;
}

/*製品名の下のピンクのborder*/
.smb-section__title:after{
    display: none;
}


/*製品の説明*/
.product-box-01{
    max-width:100%;
    padding-top:3rem;
}
h2.smb-section__title {
  font-size: 1.3rem;
    font-weight: 100;
}
/*製品画像*/
.product-gallery{
    max-width:100%;
}
/*価格*/
span.ec-price__price {
/*    font-family: sans-serif;*/
}

/*素材のこだわり*/
.smb-box__background {
  background-color: transparent!important;
}
.wp-block-snow-monkey-blocks-box.smb-box.product-box-02{
    max-width:100%;
}

.product-box-02 h3 {
  font-weight: normal;
  font-size: 1.1rem;
  background: linear-gradient(transparent 75%, #FFCFCF 100%);

}
.smb-box__body{
    line-height: 2;
}

.smb-box__body>h4 {
  font-weight: normal;
    font-family: sans-serif;
}
.product-box-02 p{
    font-weight: 100;
}
.product-box-02 h4 {
  font-size: 1rem;
    margin-bottom: 0.5rem;
    padding-top: 0.8rem;
}
/*原材料表示*/
.product-info{
      max-width: 100%;
}
.smb-information__item__body {
    font-size: 0.875rem;
    letter-spacing: 0;
        font-family: sans-serif;
        margin-top: 5rem;
}
.smb-information__item__label {
    font-family: sans-serif;
}
/*画像ギャラリー*/
.product-gallery .main-img {
  background-color: #fff !important;
}
.product-gallery .sub-img li {
  background-color: #fff !important;
}
/*ONLINE バナー*/
.shop-banner img{
    box-shadow: 0.2rem 0.2rem 0.3rem #999;
}


/*メイン画像のサイズ*/
/*.pageheader img{
    object-fit: contain;
}*/
/*//////////// products（オンラインショップ） /products/detail //////////////*/
/*商品詳細の幅*/
.product-freearea {
    max-width: 100%!important;
}
/*/////////////products/select/list/16/new商品選択ページ(オンラインショップ) /////////////*/

/*カートに入れるボタン*/
.ec-productRole__btn--add button:not(.disabled){
    background-color: #824e2e;
    opacity: 1;
    cursor: pointer;
}
.ec-productRole__btn--add button:not(.disabled):hover{
    background-color: #F2EDEA;
    color: #824e2e;
    opacity: 1;
}

/*カートに進む（ポップアップ）*/
.ec-inlineBtn--action{
    background-color:  #824e2e;
    border: #824e2e;
}
.ec-inlineBtn--action:hover{
    background-color: #F2EDEA;
    color: #824e2e;
        border:1px solid #824e2e;
    opacity: 1;
}

/*お買い物を続ける（ポップアップ）*/
.ec-inlineBtn--cancel{
    background-color:  #d15204;
    border:#d15204;
}
.ec-inlineBtn--cancel:hover{
    background-color:  #FEF5F0;
    color: #d15204;
        border:1px solid #d15204;
    opacity: 1;
}
/*お気に入りと商品一覧ボタン*/
.ec-blockBtn--cancel{
    opacity: 1;
    background-color: #202C23;
    border:#202C23;
/*    width:77%;*/
}
.ec-blockBtn--cancel:hover{
    color:#202C23;
    background-color: #e8e9e9;
    border:1px solid #202C23;
    opacity: 1;
}
/*商品コードの文字と余白*/
.ec-productRole__code{
    font-family: sans-serif;
    padding: 14px;
    border:none;
}
.ec-productRole__description{
    margin:14px;
}
.ec-numberInput {
   text-align: left;
}
.ec-productRole__actions{
    padding: 14px 22px;
}
.ec-productRole__category{
    border-top: 1px dotted #ccc;
}

/*お気に入りと商品一覧ボタンの横並び（自由に選べる）*/
.like_return-btn {
    display: flex;
    justify-content: center;
}
.kokokara_select_cart_btn_area {
   margin: 1rem!important;
}


/*//////////// CARTショッピングカートの詳細画面 /////////////*/
/*レジに進むボタン*/
.ec-cartRole{
    padding-top: 4rem;
}
.ec-cartRole .ec-blockBtn--action{
    background-color: #D15204;
    border: #D15204;
/*    width:77%;
*/}
.ec-cartRole .ec-blockBtn--action:hover{
    background-color: #FDF9F5;
    border: 1px solid #D15204;
    color: #D15204;
    opacity: 1;
}
li.ec-cartRow__subtotalColumn{
    padding-right: 1rem;
}
.ec-totalBox{
    border: 3px double #999;
    margin-top: 1.2rem;
}

.ec-rectHeading h2{
        border-bottom: 2px solid #333;
    background: none;
    margin-bottom: 1rem;
}

/*//////////// お買い物情報入力画面/shopping/nonmember /////////////*/
/*次へボタン&カートに入れるボタン*/
button.ec-blockBtn--action{
    background-color: #824e2e;
        border:1px solid #824e2e;
/*    width:77%;*/
}
button.ec-blockBtn--action:hover{
     color:#824e2e;
     opacity: 1;
     background-color: #F2EDEA;
}

/*ご注文手続き*/
.ec-orderRole{
    font-family: sans-serif;
}
.ec-layoutRole__main{
/*    font-family: sans-serif;ここを変更するとTOPも変わる*/
}
/*内容登録の余白*/
.ec-orderAccount__account,.non-customer-display {
    margin-left: 1rem;
    margin-top: 2rem;
    
}
.ec-orderDelivery__title {
    margin-left: 1rem;
    padding-bottom: 0;
    font-weight: 100;
    font-size: 16px;
}
.ec-orderDelivery__address {
    margin: 0.5rem 0rem 2rem 1rem;
}
.ec-selects{
    border-top: 1px dotted #ddd;
    padding: 1rem;
    margin-bottom: 3rem;
}
#zeus_payment_input{
   padding: 2rem;
}
.ec-radio {
    margin-top: 2rem;
}
input#shopping_order_Payment_5 {
    margin-bottom: 1rem;
}
select#shopping_order_ZeusCreditPaymentMethod {
    margin-bottom: 1rem;
}
.ec-halfInput input[type=text]{
    margin-left: 0;
}
.ec-required{
    margin-left: 0;
}
div#zeus_contact_info {
    margin-left: 0.5rem;
}
.coupon_message {
    padding-left: 1rem;
}
div#zeus_payment_input{
    margin-bottom: 3rem;
}
div#coupon{
    margin-bottom: 3rem;
}

/*//////////ご注文内容確認///////////*/
.ec-blockRadio{
    margin-left: 1rem;
    margin-bottom: 1rem;
}
div#customer_detail_box{
        margin-left: 1rem;
}


/*//////////// STORY 製品の誕生秘話TOP /////////////*/
/*パンくずとメインの余白*/
.smb-section{
    padding-top: 0;
    display: block;
}

.wp-block-image.is-style-rounded img {
  border-radius: 0;
}

/*メイン画像*/
.c-entry__content {
  max-width: inherit !important;
  margin: none !important;
}

/*h2*/
.page-title strong {
  color: #231815;
  font-size: 1.1rem;
}
.section-story-list .smb-container__body{
    margin-top: 0;
}

.smb-btn {
  background-color: #fff;
color:#333;
  font-size: 0.9rem;
  border-radius: 0;
font-family: sans-serif!important;
    font-weight: bold!important;
/*  box-shadow: -1rem 0rem 0rem #ddd;*/
    border: 1px solid #333;

}

.smb-buttons.is-content-justification-center {
  justify-content: flex-end;
}

/*//////////// STORY 製品の誕生秘話 アイス編 /////////////*/
#第一の人生-金メダリスト-松本-薫,
#第二の人生-夢を叶える,
#子どもたちのためにできること,
#食を通じて明るく楽しく元気な未来を {
/*  background: linear-gradient(transparent 50%, #FFFCE0 90%);
*/  font-size: 1.1rem !important;
  font-weight: 300 !important;
  margin-top: 8.5rem !important;
}

#わたし-アイス作ります {
  border-left: none !important;
  background-color: #fff !important;
  text-align: center;
}

#わたし-アイス作ります.strong {
  color: #333 !important;
}

.smb-section__inner {
  margin-bottom: 5rem;
  margin: 1rem;
}
.section-story-detail-column p{
    margin: 0!important;
        text-align: justify;
}
p.has-text-align-left {
/*    margin-left: 2em!important;*/
}
p.text-narrow.mt-40 {
    text-align: justify;
    line-height: 1.75;

}

/*//////////// CONCEPT 製品のこだわり（一覧） /////////////*/
.section-static .smb-section__body .smb-buttons .smb-btn-wrapper .smb-btn {
  background-color: #fff !important;
font-family:  sans-serif;
    color: #333;
}
.section-static .smb-section__body .smb-buttons .smb-btn-wrapper .smb-btn:after{
/*content: "\f0a9";
*/}
.section-static .smb-section__body figure {
  margin-top: 0;
}
.section-static .smb-section__body p{
    font-weight: 100;
}


/*//////////// CONCEPT製品のこだわり (アイス編) /////////////*/
.section-static-child .smb-section__body p.text-lead {
  font-weight: 100;
  max-width: 100%;
  margin: 1rem 0 3rem 0;
    text-align: justify;
}
.section-static-child .smb-section__body h2 {
  border-bottom: none !important;
    font-weight: 100;
}
/*タイトル*/
/*h1,h2#原材料のこだわり{
    font-family: sans-serif;ここを変えると画像上の文字も変わってしまう
}*/
/*もっと読むの矢印アイコン*/
span.smb-btn__label>img{
    position: relative;
    top:-0.1rem;
}

/*.p-concept-index-link a::after {
  content: '　▶︎';
}*/
/*こだわりの詰まったフレーバーのご紹介ボタン*/
.p-concept-index-link a{
    background-color: #f6f6f6;
    border-radius: 0;
    color: #333;
    border: 4px double #ddd;
    box-shadow: 2px 2px 2px #999;
    width: 36rem;
    font-family: serif;
}
.wp-container-2.wp-block-column{
    text-align: justify;
/*    margin-left: 1em;
*/    margin-top: 0.5em;
}
.wp-container-5.wp-block-column{
    text-align: justify;
    margin-left: 1em;
    margin-top: 0.5em;
}
.wp-container-8.wp-block-column{
    text-align: justify;
/*    margin-left: 1em;
*/    margin-top: 0.5em;
}
.wp-container-11.wp-block-column{
    text-align: justify;
    margin-left: 1em;
    margin-top: 0.5em;
}
.wp-container-16.wp-block-column{
    text-align: justify;
    margin-left: 1em;
    margin-top: 0.5em;
}
.section-static-child .smb-section__body p{
    font-weight: 100;
    margin-top: 0.7rem;
    line-height: 1.7;
}


/*//////////// GUIDE お買い物ガイド /////////////*/
.smb-section__body h2 {
  background-color: transparent!important;/*こだわりSTORYと共通*/
  border-left: none !important;
  color: #333 !important;
  font-size: 1.2rem;
  padding-left: 0.5rem !important;
/*  margin-top: 5rem !important;*/
  padding-top: 0.2rem !important;
  padding-bottom: 0.5rem !important;
    border-bottom: 1px solid #ddd;
}
.section-static .smb-section__body h2{
    border-bottom: none;
    border-bottom: 1px solid #ddd;
}

.section-guide .smb-section__body h3 {
  font-size: 1rem;
    font-weight: bold;
padding-bottom: 0;
}

/*.smb-section__body h2::before {
  content: ' ◆ ';
}*/

h2.smb-section__title a {
  color: #231815;
}
/*説明文のp*/
.section-guide .smb-section__body > p{
    margin-top:0;
    padding: 0 0.7rem;
    font-size: 0.95rem;

}

/*//////////// company　会社概要 /////////////*/

/*会社概要のタイトル非表示*/
.ec-pageHeader {
  display: none;
}
.ec-label{
    font-weight: 100;
}
.ec-off1Grid {
    display: block;
}
.ec-borderedDefs dd .ec-borderedDefs-text-bold{
    font-weight: 100;
}
.ec-borderedDefs {
    font-family: sans-serif;
}

/*パンくずしたの余白*/
.ec-borderedDefs {
  margin-top: 5rem;
}

/*行の開き調整*/
.ec-borderedDefs dd p{
    line-height: 2;
}
.ec-borderedDefs dd{
    line-height: 2;
}
.ec-borderedDefs dd .ec-borderedDefs-text-bold{
    margin-bottom: 0;
}
.ec-borderedDefs dl{
    padding: 10px 0 10px;
}
.ec-borderedDefs dt{
    margin-left: 1rem;
    padding-top: 5px;
}
iframe {
    margin-top: 1rem;
}
/*TOP画像の屋号見切れを調整*/
.page-header img{
    object-position: left;
}


/*//////////// STORES_実店舗のご紹介 /////////////*/
/*直営店・販売店の余白*/
.p-stores-content__list h3 {
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
    background-color: #f6f6f6;
    padding: 0.5rem 0 0.5rem 1rem;
    font-weight: 100;
    box-shadow: 1px 1px 1px #ddd;
}
.p-stores-content__list h3:not(:first-of-type) {
  margin-top: 4rem !important;
  padding-bottom: 0;
}

/*直営店と販売店の余白*/
.p-stores-content__list .p-archive--stores {
  padding-bottom: 3rem;

}
/*h3直営店より下の幅大きく*/
.c-entry__content>* {
    width: 100%
}

/*検索ボックス*/
.p-stores-search__item{
    width: 295px;
    justify-content: space-between;
    box-shadow: 1px 1px 1px #ddd;
    background-color:#f6f6f6;
    padding: 5px 12px;
    margin: 15px 0 0 0;
}
.p-stores-search__text{
    color:#333;
    font-size: 0.9rem;
}
.p-stores-search__item input[type=submit]{
    line-height: 1.4;
    font-size: 0.9rem;
   background-color: #333;
    color: #fff;
}
.p-stores-search__item select{
    padding: 2px 15px 2px 7px;
    border: 1px solid #999;
}
  .p-stores-search__item + .p-stores-search__item{
    margin: 15px 0 0 1px;
    }
/* 5/26修正 */
@media (min-width: 768px) {
  .p-stores-search {
    margin-top: 3rem !important;
/*    margin-right: 0;*/
  }

}
.p-stores-search {
  justify-content: end;
}
/*@media (min-width: 768px) {
  .p-stores-search {
    justify-content: flex-end;
  }
}*/
/* 5/26修正ここまで */
/*取扱商品*/
.p-stores-content .c-entries--stores .c-entry-summary__product-title{
    font-weight: 100;
    font-size: 0.8rem;
    margin: 1rem 0 0.5rem 0.5rem;
}
.p-stores-content .c-entries--stores .c-entry-summary__term-wrap{
    margin-left:0.5rem;
}

/*//////////// STORES_実店舗一覧からさらに詳細ページ /////////////*/
h3.has-text-align-left.shop-core {
    text-align: center;
        letter-spacing: 0.3rem;
}
.p-single-store-box{
    width:100%;
}

/*店舗ごとの問い合わせフォーム*/
span.tadv-color.sme-font-size.has-sm-small-font-size{
    color: #333;
    background-color: #fff;
    padding: 0.2rem 0.9rem;
    border: 1px solid #ddd;
    border-radius: 14px;

}
span.tadv-color.sme-font-size.has-sm-small-font-size:hover{
    background-color: #f6f6f6;
}
/*一覧へ戻るのボタン*/
.p-single-stores-link a{
background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 0px;
    padding: 0.3rem 0;
    width: 230px;
    font-size: 0.8rem;
    font-weight: bold;
}
/*屋号と直営店（販売店）ボタン*/
.shop-c-btn{
    border:1px solid #000;
    width:10%;
    padding:0.1rem;
    text-align: center;
    margin-left: 1.1rem;
    background-color: #333;
    color:#fff;
    font-size: 0.8rem;
}

.wp-block-group>h3{
    margin-left: 1rem;
    margin-top: 0.5rem;
    letter-spacing: 0.5rem;
    padding-bottom: 0;
font-weight: 100;
}


/*//////////// Products/select/list/オンラインショップ各製品購入P /////////////*/
.ec-headingTitle{
    color:#333;
font-family: sans-serif;
/*    background: linear-gradient(transparent 76%, #f6f6f6 100%);*/
}
.kokokara_select_product_left{
    margin-top:0;
}
/*こちらもおすすめ*/
.ec-products-top-area .ec-product-category-title__title{
    font-weight: 100;
    font-size: 20px;
}


/*//////////// お問い合わせフォーム/shop/contact/ /////////////*/
/*タイトル下のピンクライン*/
.contact-section .contact-title::after{
    display: none;
}
header.l-header.l-header--2row.l-header--sticky-sm{
    border-bottom: 1px solid #f6f6f6;
}

/*//////////// 販売店会員ログイン後_販促品発注 /////////////*/
.ec-productRole__category .ec-productRole-category-list__item a{
background-color: #202C23;
    font-family: sans-serif;
}
/*//////////// /shop/store-news/ /////////////*/
/*TOPヘッダー部分と連動*/
.c-entry__body {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.c-prev-next-nav__item a .c-prev-next-nav__item-title{
    font-weight: 100;
    font-size: 1rem;
}
.c-prev-next-nav{
    border-top: 1px solid #ddd;
    padding-top: 2rem;
}
.ec-header-bottom-list.is_store {
    margin-bottom: 4rem;
}

/*//////////// /mypage/menu /////////////*/
.ec-header-bottom__center .ec-header-bottom-title h1{
    font-size: 1.3rem;
    margin-top: 3rem;
}
h2.p-related-posts__title.c-entry-aside__title{
    font-size: 1.1rem;
    font-weight: unset;
}

/*//////////// メディアクエリ /////////////*/
@media (min-width: 1401px) {

  /*productsページのメイン画像横幅大きく*/
  .pageheader {
    width: inherit !important;
  }

}
@media (max-width: 1378px) {
ul.ec-header-bottom__store-link {
    top: -3rem;
    margin-right: 0.8rem;
}
.ec-header-bottom__gnav .p-global-navi{
    padding-top:4.5rem;
    }}

@media only screen and (min-width: 768px) {

  /*TOP:ヘッダーMENUと動画の間隔*/
  .ec-layoutRole__header {
    margin-bottom: 1rem;
  }
.wp-container-8.wp-block-column{
   margin-left: 1em;
}
.wp-container-2.wp-block-column{
    margin-left: 1em;
}
    /*ONLINEページ/products/detail/各製品のスライダー*/
.ec-productRole .ec-grid2__column {
    margin-top: 15px;
}

}
@media (min-width: 640px){
.ec-top-blog .row .col-3 {
    padding: 0 1px;
        flex: 0 0 32.333%;
}

}

@media only screen and (max-width: 1079px) {

  /*TOP:カートとオンラインの位置*/
  .ec-header-bottom__right {
    top: 3.5rem;
    right: 0;
  }
    /*携帯時の横の余白STORYや製品のこだわり*/
    .smb-section__inner{
/*        padding: 1rem;*/
    }
}

@media only screen and (max-width: 768px) {

  /*TOP:画像メニュー遷移ボタン*/
  section.ec-top-links {
    margin-top: 5rem;
  }
/*TOP：画像バナーのタイトル位置*/    
.ec-top-links .ec-top-links-item__title{
        left:38%;
    }
    
  /*TOP:インスタ上*/
  .ec-top-instagram {
    margin-top: 5rem;
  }

  #第一の人生-金メダリスト-松本-薫,
  #第二の人生-夢を叶える,
  #子どもたちのためにできること,
  #食を通じて明るく楽しく元気な未来を {
    margin-top: 5rem !important;
  }
    .ec-footer-sns-navi{
    justify-content: flex-start;
    margin-top: 3rem;
    width: 40%;
    }
    .ec-footer-role__top{
        display: block;
    }
    .ec-footer-role__bottom {
        margin-top: 2rem;
    }
    .ec-footer-navi__link{
        line-height: 2;
    }
    /*会社概要の項目*/
    .ec-borderedDefs dt{
        margin-left:0;
    }
.wp-container-2.wp-block-column{
    margin-left: 0em;
}
.wp-container-5.wp-block-column{
    margin-left: 0em;
}
.wp-container-8.wp-block-column{
    margin-left: 0em;
}
.wp-container-11.wp-block-column{
    margin-left: 0em;
}
.wp-container-16.wp-block-column{
    margin-left: 0em;
}
/*問い合わせフォームのテキスト*/
    .contact-section .contact-txt{
        text-align: left;
    }
/*オンラインショップ一覧/products/list*/
.ec-shelfGrid__item .price02-default {
    margin-bottom: 1.5rem;
}
/* newspageパンくず下 */
.breadcrumb-wrapper {
  margin-bottom: 0rem;
    }
}

/* 6/7 追加 */
@media (max-width: 768px) {
  .smb-section__inner {
    margin: 0;
  }
/*お気に入りと商品一覧ボタンの横並び*/
.like_return-btn {
    display: block;
}
    .kokokara_select_cart_btn_area{
        padding:0;
    }
    .ec-productRole__btn--favorite{
        width: 100%;
    }
/*カートに入れるボタン*/
button.ec-blockBtn--action{
    width:100%;
}
/*お気に入りと商品一覧ボタン*/
.ec-blockBtn--cancel{
    width:100%;
}
/*レジに進むボタン*/
.ec-cartRole .ec-blockBtn--action{
    width:100%;
}
/*商品を選択するボタン*/
.ec-shelfGrid__btn a{
    width: 100%;
}
/*直営店（販売店）ボタン*/
.shop-c-btn{
    width:20%;
    margin-left:0;
}
    .wp-block-group>h3{
    margin-left:0;
    }
}

@media only screen and (min-width: 768px) and (min-width: 768px){
    /*新規会員登録ページ　利用規約部分のサイズと位置調整*/
    .ec-off4Grid .ec-off4Grid__cell{
        width: 51%;
        margin-left: 23%;
        text-align: center;
}
    }

@media only screen and (max-width: 690px) {
    .ec-footer-sns-navi{
    justify-content: flex-start;
    margin-top: 3rem;
    width: 70%;
    }
}
@media only screen and (max-width: 620px) {
/*現在の選択数量合計*/
p.kokokara_select_cart_btn_area__text-03{
    width: 100%;
    padding-top: 1rem;
}
}
@media only screen and (max-width: 468px) {
    .sme-font-size{
            text-align: left;
    }
    .smb-section__lede{
            text-align: left;
    }
    /*こだわりが詰まった・・・ボタン*/
    .p-concept-index-link a{
        padding:0;
        font-weight: bold;
            font-size: 0.6rem;
    }
/*TOP：画像バナーのタイトル位置*/    
.ec-top-links .ec-top-links-item__title{
    left: 31%;
    width: 125px;
    height: 119px;
    }
        }



