{#

This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>会社概要</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell">
            <div class="ec-borderedDefs">
                <dl>
                    <dt>
                        <label class="ec-label">社名</label>
                    </dt>
                    <dd>株式会社ダシーズファクトリー</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">所在地</label>
                    </dt>
                    <dd>
                        <p class="ec-borderedDefs-text-bold">東京本社</p>
                        <p>〒150-0012<br>
                        東京都渋谷区広尾3-12-36<br>ワイマッツ広尾</p>
                        <p class="ec-borderedDefs-text-bold">大阪本社</p>
                        <p>〒530-0014 <br>
                        大阪市北区鶴野町1-9<br>梅田ゲートタワー19F</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">代表者</label>
                    </dt>
                    <dd>片山源治郎</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">設立</label>
                    </dt>
                    <dd>2021年4月16日</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">資本金</label>
                    </dt>
                    <dd>8,000万円</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">事業内容</label>
                    </dt>
                    <dd>食料品・清涼飲料水の製造・卸・販売及び輸出入、飲食店の経営、食育事業・セミナーの企画・運営・立案及び実施、キッチンカー・自動販売機の製造販売<br>上記内容に関するコンサルティング業務</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">店舗</label>
                    </dt>
                        <p class="ec-borderedDefs-text-bold">Darcy's - Guilt Free Ice Cream Labo</p>
                    <dd>〒161-0033<br>東京都新宿区下落合1丁目7-18<br>東京富士大学五号館1F</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">URL</label>
                    </dt>
                    <dd>https://darcy-factory.co.jp</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

{% endblock %}