{#

This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>会社概要</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell">
            <div class="ec-borderedDefs">
                <dl>
                    <dt>
                        <label class="ec-label">商号</label>
                    </dt>
                    <dd>株式会社ダシーズファクトリー</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">所在地（本店）</label>
                    </dt>
                    <dd>東京都渋谷区広尾三丁目12番36号</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">設立</label>
                    </dt>
                    <dd>令和3年4月16日</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">資本金</label>
                    </dt>
                    <dd>80,000,000円</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">代表者</label>
                    </dt>
                    <dd>片山源治郎</dd>
                </dl>
            </div>

        </div>
    </div>
</div>

{% endblock %}